body{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#bgLight
{
    z-index:1;
    width:100vw;
    height:45vh;
    margin-top:-2vh;
}
.outerBox
{
    z-index:2;
    width:40vw;
    height:80vh;
    margin-top: -35vh;
    display: flex;
    flex-direction: column;
}
.heading
{
    width:40vw;
    height:10vh;
}
.todoHeading
{
    display: inline;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing:1.2vw;
    font-weight: 700;
    font-size:250%;
    color: white;
}
#moonIcon
{
    margin-left:23vw;
}
#typeBox
{
    font-family: 'Josefin Sans', sans-serif;
    padding-left:5vw;
    border-radius: 7px;
    font-weight: 400;
    font-size:large;
    color:#5C5C6B;
    border: none;
    height:9vh;
}
#typeBox:focus
{
    outline: none;
}
.list
{
    width:40vw;
    height:50vh;
    margin-top: 3vh;
    border-radius: 10px;
}
#taskList div
{
    margin-left:-3vw;
    width:40vw;
    height:10vh;
    display: flex;

}
#taskList li
{
    list-style:none;
    width:35vw;
    height:10vh;
}
#taskList input
{
    width:5vw;
    height:5vh;
}